.oProj-header {
    margin-top: 20vh;
}

.oProj-headerContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    width: 100%;
}

.oProj-content {
    margin: 50px 0 100px 0;
    /* max-width: 800px; */
}

.oProj-subSection {
    max-width: 800px;
}

.oPorj-subTitle {
    font-family: "Noto Serif", serif;
    font-weight: 800;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
    color: #6c7a88;

}

.align-center {
    display: flex;
    justify-content: center;
}

.oProj-featureImage {
    margin: 0;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.oProj-featureImage-verticle {
    position: relative;
    margin: 0;
    align-items: left;
}

.oProj-featureImage-verticle img {
    max-height: 40vh;
    width: auto;
}

.oProj-detailedImage {
    margin: 5px 0;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.videoShowcase {
    margin-top: 50px;
}

.oProj-keyImagecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 0 0;
    width: 100%;
    max-width: 800px;
}

.oProj-wrapcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4%;
}

.oPorj-wrap2content-1 {
    flex: 0 0 calc(48%);
    box-sizing: border-box;
}

.oPorj-title {
    font-family: "Noto Serif", serif;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: left;
}

.oProj-subtitle {
    font-family: "Noto Serif", serif;
    font-weight: 200;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
    color: #737679;
    line-height: 130%;
}

.oProj-pdfEmbed {
    width: 100%;
    max-width: 800px;
}


/* kindroot page long button (play button) */
.play-now-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #839DB5;
    /* 绿色背景 */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-now-button:hover {
    background-color: #a2b9cf;
    /* 悬停时的颜色 */
}