.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 8%;
    flex-direction: column;
    color: rgb(0, 8, 25);
}

* {
    font-family: 'Nova Mono', monospace;
}

.hello {
    text-align: center;
    font-family: 'Nova Mono', monospace;
    font-size: 55px;
    margin-bottom: 10px;

}

.welcome {
    text-align: center;
    font-size: 20px;
    font-family: 'Nova Mono', monospace;
}

.illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.gif {
    width: 200px;
    height: auto;
}

.project-container {
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8px;
}

.wrap2content-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: filter 0.5s ease;
}


/* =================================================================== */
/* =================================================================== */

/* --------------------- Featured Projects ---------------------- */

.featured-projects {
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.feature-proj-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-project-title {
    color: #131b23;
    margin: 0 0 8px 0;
    transition: 0.3s;
    position: relative;
    font-weight: 450;
}

.feature-project-title::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1.2px;
    background-color: #839DB5;
    transition: width 0.5s, font-weight 1s;
}

.feature-project-tages {
    color: #4d5f70;
    margin: 0 0 2px 0;
}

.feature-proj-description {
    color: #afb7bf;
    margin: 0 0 5px 0;
    font-weight: 300;
}

/* container-proj -- all same */
.container-proj1 {
    position: relative;
    width: 40vw;
    min-width: 400px;
    height: auto;
    aspect-ratio: 2.8/1;
    margin-bottom: 5%;
}

.container-proj2 {
    position: relative;
    width: 40vw;
    min-width: 400px;
    height: auto;
    aspect-ratio: 2.8/1;
    margin-bottom: 5%;
}

.container-proj3 {
    position: relative;
    width: 40vw;
    min-width: 400px;
    height: auto;
    aspect-ratio: 2.8/1;
    margin-bottom: 5%;
}

.container-proj4 {
    position: relative;
    width: 40vw;
    min-width: 400px;
    height: auto;
    aspect-ratio: 2.8/1;
    margin-bottom: 5%;
}

.container-proj5 {
    position: relative;
    width: 40vw;
    min-width: 400px;
    height: auto;
    aspect-ratio: 2.8/1;
    margin-bottom: 5%;
}

.container-proj6 {
    position: relative;
    width: 40vw;
    min-width: 400px;
    height: auto;
    aspect-ratio: 2.8/1;
    margin-bottom: 5%;
}

/* hover-image-proj -- all same */
.hover-image-proj1 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease, clip-path 1s ease, filter 0.5s ease;
    clip-path: inset(0 0 0 0);
    filter: opacity(75%);
}

.hover-image-proj2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease, clip-path 1s ease, filter 1s ease;
    clip-path: inset(0 0 0 0);
    filter: opacity(75%);
}

.hover-image-proj3 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease, clip-path 1s ease, filter 0.5s ease;
    clip-path: inset(0 0 0 0);
    filter: opacity(75%);
}

.hover-image-proj4 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease, clip-path 1s ease, filter 1s ease;
    clip-path: inset(0 0 0 0);
    filter: opacity(75%);
}

.hover-image-proj5 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease, clip-path 1s ease, filter 0.5s ease;
    clip-path: inset(0 0 0 0);
    filter: opacity(75%);
}

.hover-image-proj6 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease, clip-path 1s ease, filter 1s ease;
    clip-path: inset(0 0 0 0);
    filter: opacity(75%);
}

/* hover-image-proj -- all same */
.hover-text-proj1 {
    position: absolute;
    width: 19vw;
    min-width: 200px;
    color: black;
    opacity: 0;
    transition: opacity 2s ease;
}

.hover-text-proj2 {
    position: absolute;
    width: 19vw;
    min-width: 200px;
    color: black;
    opacity: 0;
    transition: opacity 2s ease;
}

.hover-text-proj3 {
    position: absolute;
    width: 20vw;
    min-width: 200px;
    color: black;
    opacity: 0;
    transition: opacity 2s ease;
}

.hover-text-proj4 {
    position: absolute;
    width: 20vw;
    min-width: 200px;
    color: black;
    opacity: 0;
    transition: opacity 2s ease;
}

.hover-text-proj5 {
    position: absolute;
    width: 20vw;
    min-width: 200px;
    color: black;
    opacity: 0;
    transition: opacity 2s ease;
}

.hover-text-proj6 {
    position: absolute;
    width: 18vw;
    min-width: 200px;
    color: black;
    opacity: 0;
    transition: opacity 2s ease;
}

/* .triggered .hover-image-proj1 -- transform & clip side different */
.triggered .hover-image-proj1 {
    transform: translateX(-29%);
    clip-path: inset(0 5% 0 5%);
    filter: opacity(100%);
}

.triggered .hover-image-proj2 {
    transform: translateX(25%);
    clip-path: inset(0 5% 0 5%);
    filter: opacity(100%);
}

.triggered .hover-image-proj3 {
    transform: translateX(-29%);
    clip-path: inset(0 5% 0 5%);
    filter: opacity(100%);
}

.triggered .hover-image-proj4 {
    transform: translateX(25%);
    clip-path: inset(0 5% 0 5%);
    filter: opacity(100%);
}

.triggered .hover-image-proj5 {
    transform: translateX(-29%);
    clip-path: inset(0 5% 0 5%);
    filter: opacity(100%);
}

.triggered .hover-image-proj6 {
    transform: translateX(25%);
    clip-path: inset(0 5% 0 5%);
    filter: opacity(100%);
}


/* .triggered .hover-text-proj1 : transform different */
.triggered .hover-text-proj1 {
    opacity: 1;
    transform: translateX(150%);
}

.triggered .hover-text-proj2 {
    opacity: 1;
    transform: translateX(-50%);
}

.triggered .hover-text-proj3 {
    opacity: 1;
    transform: translateX(150%);
}

.triggered .hover-text-proj4 {
    opacity: 1;
    transform: translateX(-50%);
}

.triggered .hover-text-proj5 {
    opacity: 1;
    transform: translateX(150%);
}

.triggered .hover-text-proj6 {
    opacity: 1;
    transform: translateX(-50%);
}


/* =================================================================== */
/* =================================================================== */

/* --------------------- All Projects ---------------------- */

.filter-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.filter-button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #ffffff;
    color: #586a7b;
    cursor: pointer;
    border: #d6dce3 1px solid;
    border-radius: 3px;
    transition: background-color 0.5s;
}

.filter-button:hover,
.filter-button.active {
    background-color: #e0eaf1;
}

.default {
    border: none;
    background-color: #ffffff;
    color: #9aa9b7;
    cursor: pointer;
    transition: background-color 0.5s;
}

.default:hover,
.default.active {
    text-decoration: underline;
    background-color: #ffffff;
}


/* flex: 1 1 calc(33.3% - 40px);
    margin: 20px; */

.proj-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.all-proj-container {
    flex: 0 1 calc(25% - 20px);
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 2/1.2;
    object-fit: cover;
    display: block;
}

.image-container img,
.image-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container video {
    display: none;
}

.text-block {
    margin: 10px 0 10px 0;
}

.all-project-title {
    color: #131b23;
    margin: 0 0 8px 0;
    transition: 0.3s;
    position: relative;
    font-weight: 450;
}

.all-project-title::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1.2px;
    background-color: #839DB5;
    transition: width 0.5s, font-weight 1s;
}

.all-proj-container:hover .all-project-title {
    color: #466073;
    font-weight: 650;
}

.all-proj-container:hover .all-project-title::after {
    width: 100%;
}

.all-project-tages {
    color: #4d5f70;
    margin: 0 0 2px 0;
}

.all-proj-description {
    color: #afb7bf;
    margin: 0 0 5px 0;
    font-weight: 300;
}


/* scroll effect */
.scroll-reveal {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s, transform 0.6s;
}

.scroll-reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.youtube-video {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-bottom: 10%;
}