/* color scheme: 6E8396 / 839DB5 / e0eaf1*/

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8em;
}

.content-body {
    display: flex;
    justify-content: center;
}

.wrapcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapcontainer-spaceBetween {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.wrapcontainer-flexStart {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.wrapcontainer-flexEnd {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.wrapcontent-flexSize {
    display: flex;
    align-items: center;
}

.wrap2content-1 {
    flex: 1 0 200px;
    margin: 20px;
    box-sizing: border-box;
    /* background-color: cornflowerblue; */
}

.wrap2content-2 {
    flex: 2 0 200px;
    padding: 20px;
    box-sizing: border-box;
}

.wrap3content-1 {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

.wrap4content {
    flex: 1 1 calc(50% - 10px);
    background-color: #ddd;
    margin: 5px;
    box-sizing: border-box;
}



/* ------------------- navbar start -------------------*/
.main-navbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 15%;
    padding-bottom: 5px;
}

.icon img {
    height: 40px;
    width: 45px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-tab {
    color: #999;
    text-decoration: none;
    transition: color 0.4s;
    padding: 5px 30%;
    font-size: 1.2em;
}

.nav-tab:hover {
    color: #333;
}

.floating-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 4px rgba(47, 62, 136, 0.1);
    transition: opacity 1s, top 0.4s;
    z-index: 9;
    opacity: 0;
}

body.scrolled .floating-navbar {
    top: 0;
    opacity: 1;
}

/* ------------------- navbar end -------------------*/




/* ------------------- footer starts -------------------*/

.footer-gallery {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0eaf1;
    padding: 10px 10% 0px 10%;
    width: 100%;
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0eaf1;
    padding: 10px 13% 30px 10%;
    width: 100%;
    box-sizing: border-box;
}

.footer-alone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0eaf1;
    padding: 50px 13% 30px 10%;
    width: 100%;
    box-sizing: border-box;
}

/* 
.footer-alone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
} */

.footer-alone:after {
    content: "";
    display: block;
    height: 100px;
}

.footer-left {
    flex: 1;
    font-size: 18px;
}

.footer-right {
    flex: 1;
    position: relative;
}

.gallery {
    display: flex;
    align-items: center;
    margin-right: 5%;
    overflow: hidden;
}

.gallery-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-item {
    flex: 0 0 34%;
    box-sizing: border-box;
    margin: 8%;
    text-align: center;
    position: relative;
}

.gallery-item:hover .project-title {
    color: rgba(255, 255, 255, 1);
    transition: color 0.5s;
}

.project-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;

    font-family: "DM Serif Display", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
    margin-bottom: 0px;
    text-align: left;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}

.gallery-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    color: #839DB5;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

/* ------------------- footer ends -------------------*/



.title {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;
}

.subTitle {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    margin-bottom: 10px;
    text-align: left;
    color: #839DB5;
}

.sub-subTitle {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
}

strong {
    font-weight: 550;
}


img {
    width: 100%;
}

.remark {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 0.8em;
    margin-top: 0;
    text-align: left;
}

/* ------------------- media queries -------------------*/
/* Desktop */
@media (min-width: 1025px) {
    .all-content {
        width: 60vw;
    }

    .wrap3content {
        flex: 1 1 calc(33.333% - 20px);
    }

    .wrap4content {
        flex: 1 1 calc(50% - 10px);
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .all-content {
        width: 75vw;
    }

    .wrap3content {
        flex: 1 1 calc(50% - 20px);
    }

    .wrap4content {
        flex: 1 1 calc(50% - 10px);
    }

}

/* Mobile */
@media (max-width: 767px) {
    .all-content {
        width: 90vw;
    }

    .wrap2content-1 {
        flex: 1 1 100%;
    }

    .wrap3content-2 {
        flex: 1 1 100%;
    }

    .wrap3content {
        flex: 1 1 calc(50% - 20px);
    }

    .wrap4content {
        flex: 1 1 calc(25% - 10px);
    }

    .navbar-container {
        justify-content: space-between;
        padding-right: 0%;
        margin-right: 7%;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }

    .nav-links a {
        text-align: right;
    }

}