.header {
    margin-top: 80px;
}

.headerContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-column {
    padding-right: 20px;
    flex: 2;
}

.right-column {
    padding-left: 20px;
    flex: 1;
}

.tags {
    min-width: 200px;
}

.keyImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.featuredImage {
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100vw;
    margin-left: 0;
}

.featuredImage-etheral {
    background-image: url('assets/proj-ethereal/feature.png');
}

.featuredImage-desert {
    background-image: url('assets/proj-desert/feature.png');
}

.featuredImage-belonging {
    background-image: url('assets/proj-belonging/feature.png');
}

.featuredImage-letter {
    background-image: url('assets/proj-letter/feature.png');
}

.featuredImage-disconnect {
    background-image: url('assets/proj-disconnect/feature.png');
}

.featuredImage-home {
    background-image: url('assets/proj-home/feature.png');
}

.portfolioImage {
    width: 100%;
}

.description {
    margin-top: 50px;
    text-align: left;
    margin-bottom: 20px;
}

.video {
    display: flex;
    justify-content: center;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-width: 800px;
}

.wrap4content iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-width: 800px;
}

.subSection {
    margin-top: 70px;
}

.pdf-container {
    width: 100%;
    height: 500px;
    border: none;
}


.version1Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        margin-top: 100px;
    }

    .text,
    .model-image {
        width: 100%;
    }
}


/* Mobile */
@media (max-width: 767px) {
    .header {
        margin-top: 130px;
    }

    .headerContent {
        flex-direction: column;
    }

    .left-column {
        padding-right: 0px;
    }

    .right-column {
        padding-left: 0px;
    }

    .subSection {
        margin-top: 30px;
    }

    .text,
    .model-image {
        width: 100%;
    }


}